 .alert-checkbox-label.sc-ion-alert-md{
    white-space: pre-line !important;   
}

/* .alert-wrapper.on-overlay-wrapper.sc-ion-alert-md{
    width: 100% !important;
}

.alert-radio-button {
    height: auto !important;
  } */




   .alert-tappable.sc-ion-alert-md {
    height: initial !important;
    contain: initial !important;
  }


ion-select, ion-datetime {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--ion-text-color);
    background-color: var(--ion-input-color);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow;
    --placeholder-color: #6D767E;
    --placeholder-opacity: 1;
}

.custom-form{
    background-color: var(--ion-input-color);
    color: var(--ion-text-color);
}

.custom-form:disabled{
    background-color: var(--ion-input-color-disabled);
    color: var(--ion-text-color);
}

.custom-form:focus{
    background-color: var(--ion-input-color-selected);
    color: var(--ion-text-color);
}

.modal-title {
    font-size: 1.9em;
}
.action-sheet-title {
    color: white;
}

.action-sheet-button {
    color: black;
    --button-color: black;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  ion-datetime {
    --background: rgb(245, 235, 247);
    --background-rgb: 245, 235, 247;
    --wheel-highlight-background: rgb(218, 216, 255);
    --wheel-fade-background-rgb: 245, 235, 247;
  }

  @media (prefers-color-scheme: dark) {
    .action-sheet-button {
        color: white;
        --button-color: white;
    }
    
}
    